#btnModalInsumos {
    z-index: 1;
}

.sin-margen {
    margin: 0 !important;
}

.centrado,
.acciones {
    text-align: center;
}

.insumo-tabla {
    cursor: pointer;
}

.sin-padding-horizontal {
	padding-left: 0 !important;
	padding-right: 0 !important;
}