.tabla,
#selectOrden,
#agendarGarantia {
	display: none;
}

.boton-tabla {
	cursor: pointer;
}

.acciones,
.modal-title,
.modal-body>form {
	text-align: center;
}

td>i.material-icons {
	font-size: 15px;
}

#modalOrdenServicio .modal-body>.col-sm-12 {
	padding: 0;
}