.centrado {
	text-align: center;
}


.sin-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

html, body, div, iframe 
{ margin:0; padding:0; height:100%; }

iframe
 { display:block; width:100%; border:none; }

