/*.btn.dropdown-toggle.btn-default {
	display: none;
}

.modal-select.btn-group.bootstrap-select.form-control.show-tick {
    border: none;
    border-bottom: none !important;
    tabindex: 1;
}
*/

/*.form-control.show-tick {
	display: none;
}*/

/*#cmbTodosPerfiles,
#cmbPerfilesAsignados {
	display: inline !important;
	height: 20em;
}*/

.centrado {
	text-align: center;
}

/*.modal-content {
	height: 30em;
}*/

.sin-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}