html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}


body {

    font-family:'Open Sans',sans-serif;
    padding:0px !important;
    margin:0px !important;
    font-size:13px;
    text-rendering:optimizeLegibility;
}
/*=Event Calendar=*/
.event-calendar {
    background:#1fb5ac;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    min-height:474px;
}
.calendar-block {
    float:right !important;
    -webkit-border-radius:0 5px 5px 0px;
    -moz-border-radius:0 5px 5px 0px;
    border-radius:0 5px 5px 0px;
    background:#fff;
    min-height:474px;
    z-index: 1000;
}
.event-list-block {
    -webkit-border-radius:5px 0px 0px 5px;
    -moz-border-radius:5px 0px 0px 5px;
    border-radius:5px 0px 0px 5px;
}
.calendar-block .clndr {
    margin:40px 0;
}
.calendar-block .clndr {
    margin:40px 0;
}
.calendar-block .clndr-controls {
    margin:45px 0px !important;
}
.calendar-block .day-contents {
    width:30px;
    margin:auto;
}
.day-contents{
    color: grey;
}
.today .day-contents {
    width:30px;
    background:#757575;
    cursor:pointer;
    color:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.calendar-block .day-contents:hover {
    width:30px;
    background:#c1c1c1;
    cursor:pointer;
    color:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.event-list {
    padding-left: 0;
}
.event-list li {
    background:rgba(255,255,255,.2);
    padding:10px 30px 10px 10px;
    color:#fff;
    margin-bottom:5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position:relative;
    list-style: none;
}

.event-close {
    display:inline-block;
    font-size:20px;
    color:#fff;
    position:absolute;
    right:4px;
    top:8px;
}
.cal-day {
    font-size:30px;
    font-weight:300;
    text-transform:uppercase;
    color:#fff;
    padding-top:15px;
    padding-bottom:30px;
}
.cal-day span {
    font-size:14px;
    display:block;
}
.evnt-input,.evnt-input:focus {
    background:none;
    border:none;
    border-bottom:#fff 1px solid;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    color:#fff;
    padding-left:0px;
    margin-top:10px;
}
.widget-head {
    position:relative;
}


/*calender*/
.has-toolbar.fc {
    margin-top:50px;
}
.fc-header-title {
    display:inline-block;
    margin-top:-45px;
    vertical-align:top;
}
.fc-header-center {
    text-align:left;
}
.fc-header-left {
    text-align:left;
    width:18%;
}
.fc-view {
    margin-top:-50px;
    overflow:hidden;
    width:100%;
}
.fc-state-default,.fc-state-default .fc-button-inner {
    background:#F3F3F3 ;
    border-color:#DDDDDD;
    border-style:none solid;
    color:#646464;
}
.fc-state-active,.fc-state-active .fc-button-inner,.fc-state-active,.fc-button-today .fc-button-inner,.fc-state-hover,.fc-state-hover .fc-button-inner {
    background:#32323A ;
    color:#fff ;
}
.fc-event-skin {
    background-color:#757575 ;
    border-color:#747474 ;
    color:#FFFFFF !important;
}
.fc-grid th {
    height:50px;
    line-height:50px;
    text-align:center;
    background:#e4e4e4 !important;
}
.fc-header-title h2 {
    font-size:18px !important;
    color:#474752;
    font-weight:300;
    padding:0 10px;
}
.external-event {
    cursor:move;
    display:inline-block !important;
    margin-bottom:6px !important;
    margin-right:6px !important;
    padding:8px;
}
#external-events p input[type="checkbox"] {
    margin:0;
}
.drg-event-title {
    font-weight:300;
    margin-top:0;
    margin-bottom:15px;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}
.fc-content .fc-event {
    border-radius:4px;
    -webkit-border-radius:4px;
    padding: 4px 6px;
}
.fc-corner-left {
    /*border-radius:4px 0 0 4px;*/
    /*-webkit-border-radius:4px 0 0 4px;*/
}
.fc-corner-right {
    /*border-radius:0 4px 4px 0;*/
    /*-webkit-border-radius:0 4px 4px 0;*/
}
.drp-rmv {
    padding-top:10px;
    margin-top: 10px;
}
/*button*/
.btn-row {
    margin-bottom: 10px;
}
/*tabs*/
.tab-head {
    background:#7087a3;
    display:inline-block;
    width:100%;
    margin-top:60px;
}
.tab-container {
    margin-top:10px;
}
.tab-head .nav-tabs>li>a {
    border-radius:0;
    margin-right:1px;
    color:#fff;
}
.tab-head .nav-tabs>li.active>a,.tab-head .nav-tabs>li>a:hover,.tab-head .nav-tabs>li.active>a:hover,.tab-head .nav-tabs>li.active>a:focus {
    background-color:#f1f2f7;
    border-color:#f1f2f7;
    color: #797979;
}
/*general page*/
.progress-xs {
    height:10px;
}
.progress-sm {
    height:12px;
}
.panel-heading .nav {
    border:medium none;
    font-size:13px;
    margin:-15px -15px -15px;
}
.tab-bg-dark-navy-blue ul>li>a {
    display:block;
    padding:20px 15px !important;
}
.tab-bg-dark-navy-blue {
    background:#e0e1e7;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-bottom:none;
}
.panel-heading .nav>li>a,.panel-heading .nav>li.active>a,.panel-heading .nav>li.active>a:hover,.panel-heading .nav>li.active>a:focus {
    border-width:0;
    border-radius:0;
}
.panel-heading .nav>li>a {
    color:#898989;
}
.panel-heading .nav>li.active>a,.panel-heading .nav>li>a:hover {
    color:#1fb5ad;
    background:#fff;
}
.panel-heading .nav>li:first-child.active>a,.panel-heading .nav>li:first-child>a:hover {
    border-radius:4px 0 0 0;
    -webkit-border-radius:4px 0 0 0;
}
.tab-right {
    height:58px;
}
.panel-heading.tab-right .nav>li:first-child.active>a,.tab-right.panel-heading .nav>li:first-child>a:hover {
    border-radius:0;
    -webkit-border-radius:0;
}
.panel-heading.tab-right .nav>li:last-child.active>a,.tab-right.panel-heading .nav>li:last-child>a:hover {
    border-radius:0 4px 0 0;
    -webkit-border-radius:0 4px 0 0;
}
.panel-heading.tab-right .nav-tabs>li>a {
    margin-left:1px;
    margin-right:0px;
}
.m-bot20 {
    margin-bottom:20px;
}
.m-bot-none {
    margin-bottom:0;
}
.wht-color {
    color:#fff;
}
.close-sm {
    font-size: 14px;
}

